.threads-container{
    font-size: smaller;
    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-color: var(--border-color);
    box-sizing: content-box;
    padding: var(--padding);
}

.thread-container{
    #border-radius: var(--border-radius);
    #border-style: var(--border-style);
    #border-color: var(--border-color);
    #padding: var(--padding);
}

.message-view-container{
    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-color: var(--border-color);
    box-sizing: content-box;
    padding: var(--padding);
    width: 90%;
    float: left;
}

.message-by-container{
    font-size: small;
    text-align: left;
    color: #90caf9;
}

.message-text-container{
    font-size: small;
    text-align: right;
}

.thread-by-container{
    font-size: small;
    text-align: left;
    color: #90caf9;
}

.thread-subject-container{
    font-size: large;
    color: #d81b60;
    text-align: left;
}

.thread-separator{
    padding-top: var(--padding);
}

.bySelf{
    background-color: #2b2b2b;
    float: right;
}

.userReference{
    color: #d81b60;
}

.new-message-container{
    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-color: var(--border-color);
    padding-top: var(--padding);
    min-height: 7vw;
    box-sizing: content-box;
    display: flex;
    align-items: center;
}

.edit-html-button{
    font-size: xx-small;
    horiz-align: center;
    vertical-align: center;
}

.new-item-counter{
    font-size: xx-small;
    horiz-align: center;
    vertical-align: center;
}

.new-thread-container{
    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-color: var(--border-color);
    padding-top: var(--padding);
    box-sizing: content-box;
    display: flex;
    align-items: center;
}

textarea{
    min-height: 6vw;
}

.new-item{
    padding: var(--padding);
}
.user-list{

}

.user{

}